<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script  type="text/javascript" src="/js/xcity.js" charset="utf-8"></script>
    <title>Title</title>
</head>
<body>
<div style="background: white ;padding-top: 30px;padding-right: 30px">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">id</label>
            <div class="layui-input-block">
                <input type="text" name="shopId"  th:value="${shopInfo.shopId}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺名称</label>
            <div class="layui-input-block">
                <input type="text" name="shopName"  th:value="${shopInfo.shopName}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realName"  th:value="${shopInfo.realName}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" th:checked="${shopInfo.sex}=='男'">
                <input type="radio" name="sex" value="女" title="女" th:checked="${shopInfo.sex}=='女'">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="tel" name="msisdn"  th:value="${shopInfo.msisdn}" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间</label>
            <div class="layui-input-block">
                <input type="text" name="exptime" id="date" th:value="${shopInfo.exptime}"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">剩余活动次数</label>
            <div class="layui-input-block">
                <input type="text" name="activityCnt"  th:value="${shopInfo.activityCnt}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">省份</label>
            <div class="layui-input-block">
                <input type="text"  id="sss" th:value="${shopInfo.prov}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">城市</label>
            <div class="layui-input-block">
                <input type="text" id="ss"  th:value="${shopInfo.city}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-block">
                <input type="text" id="s"  th:value="${shopInfo.region}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item x-city" id="start">
            <label class="layui-form-label">城市联动</label>
            <div class="layui-input-inline">
                <select name="prov" lay-filter="province">
                    <option value="">请选择省</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="city" lay-filter="city">
                    <option value="">请选择市</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="region" lay-filter="area">
                    <option value="">请选择县/区</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block">
                <input type="text" name="address"  th:value="${shopInfo.address}"  autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use(['form','layer','laydate'], function(){
        form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date'
        });
        console.log($('#sss').val()+$('#ss').val()+$('#s').val());
        $('#start').xcity($('#sss').val(),$('#ss').val(),$('#s').val());
        //监听提交
        form.on('submit(formDemo)', function(data){

            var shopInfo = JSON.stringify(data.field);
            console.log(shopInfo);
            $.ajax({
                url:"/saveEditShop",
                type:"post",
                contentType:'application/json',
                data:shopInfo,
                success:function(data){
                    var index=parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                    parent.layer.close(index);		//关闭窗口
                    window.parent.location.reload();
                },
                error:function (data) {
                    console.log("error")
                    console.log(JSON.stringify(data));
                }
            });
            return false;
        });
    });
</script>
</body>
</html>