<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="webjars/jquery/3.2.1/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-col-md12">
    <div class="layui-card">
        <form class="layui-form layui-card-header" style="padding-top: 15px;padding-bottom: 15px;height: auto;">
            <div class="layui-form-item" style="display: inline-block;">
                <label class="layui-form-label">活动状态</label>
                <div class="layui-input-block">
                    <select name="activityStatus" id="activityStatus" >
                        <option value="">不限</option>
                        <option value="0">已结束</option>
                        <option value="1">进行中</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="display: inline-block;">
                <label class="layui-form-label">活动名称</label>
                <div class="layui-input-block">
                    <input type="text" name="activityName" id="activityName"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="display: none ">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="shopId" id="shopId" th:value="${shopId}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="display: inline-block;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit  id="queryKey" lay-filter="formDemo">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <div class="layui-card-body ">
            <table id="activityTab" lay-filter="demo" ></table>
        </div>

    </div>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
    </div>
</script>
<script type="text/html" id="activityTabBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="cat">活动数据</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="drop">结束活动</a>
</script>
<script th:inline="none">
    layui.use(['table','form'], function(){
        var table = layui.table;
        var shopId = $('#shopId').val();

        //第一个实例
        tableResult=table.render({
            elem: '#activityTab'
            ,url: '/queryShopListById?shopId='+shopId //数据接口
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,page: {
                limit: 10,
                limits:[10,15,20,25],
                groups:5,
            }
            ,cols: [[ //表头
                {type:'checkbox'},
                {field: 'activityId', title: 'ID', width:80, sort: true}
                ,{field: 'activityName', title: '活动名称', width:100}
                ,{field: 'cardName', title: '卡券名称', width:120,}
                ,{field: 'activityStatus', title: '活动状态', width:100}
                ,{field: 'expDate', title: '到期时间',width:120}
                ,{title: "操作", toolbar:"#activityTabBar",fixed:"right",align:"center"}
            ]]
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var activityInfo = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    console.log(obj.data)
                    $.ajax({
                        url:"/deleteActivity",
                        type:"delete",
                        data:activityInfo,
                        success:function(data){
                            layer.msg("删除成功")
                        },
                        error:function (data) {
                            console.log("error")
                            console.log(JSON.stringify(data));
                        }
                    });
                });
            } else if(obj.event === 'cat'){
                //页面层-自定义
                layer.open({
                    type: 2,
                    title: "活动数据",
                    closeBtn: 1,//显示关闭按钮
                    shadeClose: true,
                    skin: 'layui-layer-lan',
                    content: "/catActivity?activityId="+activityInfo["activityId"],
                    area: ['600px', '300px'],//设置弹框大小
                });
            }else if(obj.event === 'drop'){
                layer.confirm('确定结束吗', function(index){
                    $.ajax({
                        url:"/dropActivity",
                        type:"post",
                        data:activityInfo,
                        success:function(data){
                            window.location.reload();
                            layer.msg("已结束");
                        },
                        error:function (data) {
                            console.log("error")
                            console.log(JSON.stringify(data));
                        }
                    });
                });
            }

        });
        //监听事件
        table.on('toolbar(demo)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event==='delete'){
                var activityList = JSON.stringify(checkStatus.data);
                $.ajax({
                    url:"/deleteActivityList",
                    type:"delete",
                    contentType:'application/json',
                    data:activityList,
                    success:function(data){
                        table.reload("activityTab",{})
                    },
                    error:function (data) {
                        console.log("error")
                        console.log(JSON.stringify(data));
                    }
                });

            }
        });
        //点击查询按钮，重载表格
        $('#queryKey').on('click', function() {
            table.reload('activityTab', {
                where : {
                    activityStatus : $('#activityStatus').val(),
                    activityName : $('#activityName').val(),
                },
                page : {
                    curr : 1
                }
            });
            return false;
        });

    });


</script>
</body>
</html>